@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-md-12 text-center">
        <h2>Sistema Odontológico</h2>
    </div>
    <img src="~/fonts/teeth-icon.png" class="center-block" />
</div>